<?xml version="1.0" encoding="utf-8"?>

<config>

    <!-- optional: the number of threads the program
    will use to execute its workload which will be traced -->
    <threads>16</threads>

    <!-- optional: parameters -->
    <params>
        <!-- RAPL domain mask: which domains to read
        0x1 - package, 0x2 - pp0, 0x4 - pp1, 0x8 - dram -->
        <domain_mask>0xf</domain_mask>
        <!-- socket mask: which sockets to evaluate -->
        <socket_mask>0x1</socket_mask>
        <!-- device mask: which GPU devices to evaluate -->
        <device_mask>0x1</device_mask>
    </params>

    <sections>
        <!-- example of CPU section
        target can be cpu or gpu; cpu when not specified -->
        <section target="cpu">

            <!-- optional: name and extra information: forwarded as raw data -->
            <name>task1</name>
            <extra>more info</extra>

            <!-- sampling frequency in Hz -->
            <freq>50</freq>
            <!-- or sampling interval in ms,
            overwrites <freq> if both are defined -->
            <interval>20</interval>

            <!-- optional: reduce sample count with 'total' or
            build full profile with 'profile';
            has no effect when target is gpu due to the
            nature of the energy reading interfaces  -->
            <method>total</method>

            <!-- optional: number of times the section
            is expected to be executed -->
            <execs>16</execs>

            <!-- optional: number of samples expected to be
            generated by the section -->
            <samples>100</samples>

            <!-- optional: expected section duration in ms,
            used to optimise sampling,
            overwrites <samples> if both are defined
            by calculating the number of samples as
            being <samples> = <duration> / <interval>
            or <samples> = <duration> * <freq> -->
            <duration>5000</duration>

            <!-- the evaluation bounds -->
            <bounds>
                <!-- at which point the evaluation begins -->
                <start>
                    <cu>main.c</cu>
                    <line>10</line>
                </start>
                <!-- at which point the evaluation ends -->
                <end>
                    <cu>main.c</cu>
                    <line>15</line>
                </end>
            </bounds>

        </section>

        <!-- example of GPU section -->
        <section target="gpu">
            <name>task2</name>
            <extra>gpu section</extra>
            <interval>15</interval>
            <bounds>
                <start>
                    <cu>main.c</cu>
                    <line>25</line>
                </start>
                <end>
                    <cu>main.c</cu>
                    <line>35</line>
                </end>
            </bounds>
        </section>
    </sections>

</config>
